* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:1rem;
}

html {
	font-size:62.5%;
}
.container-fluid{
	display: flex;
	justify-content: center;
	border: solid red 3px;
	background-color: royalblue;
}
footer{
	background-color: royalblue;
	border: solid red 3px;
}